#heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    color: black;
    font-size: 15px;
    background-color: orange;
}

body {
    background-size: cover;

}

#song{
    font-size: 23px;
    margin: 15px;
}

canvas {
    border: solid 5px black;
    border-radius: 10px;
}